@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

a.active {
  color: white;
  margin-right: 30px;
  background-color: #1d4ed8; /* Tailwind blue-700 equivalent */
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: 600;
}