
@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2563EB;
  --color-secondary: #14B8A6;
}

a.active {
  color: white;
  margin-right: 30px;
  background-color: #0EA5E9; 
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: 600;
}